:root{
    --primary:hsl(193, 100%, 31%);
    --primary-lite:hsl(193, 98%, 25%);
    --secondary:#007B9E;
    --secondary-lite:#e6faff;
    --text:black;
    --text-white:white;
    --bg:white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

body{
    color: var(--text);
    background-color: var(--bg);
    height: 300vh;
    line-height: 1.5;
    overflow-x: hidden;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

h1{
    font-size: 48px;
    font-weight: 800;
    line-height: 1.2;
    padding-bottom: 16px;
}

h2{
    font-size: 32px;
    font-weight: 600;
    line-height: 1.2;
    margin-top: 16px;
}

h3{
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
}

h4{
    color: var(--secondary);
    letter-spacing: 2px;
    font-weight: 700;
}

h5{
    font-size: 18px;
    font-weight: 600;
}


.btn{
    cursor: pointer; 
    height: 48px;
    padding: 6px 32px;
    border: 1px solid var(--primary) ;
    border-radius: 4px;
}

.btn-large{
    height: 48px;
    padding: 6px 40px;
}
.btn-medium{
    height: 40px;
    padding: 6px 32px;
}
.btn-small{
    height: 48px;
    padding: 6px 32px;
}

.btn-primary{
    background-color: var(--primary);
    color: var(--text-white);
    font-weight: 600;
}

.btn-primary:hover{
    background-color: var(--primary-lite);
    border: 1px solid var(--primary);
}

.btn-secondary{
    background-color: var(--bg);
    color: var(--primary);
    font-weight: 600;
}

.btn-secondary:hover{
    background-color: var(--primary);
    color: var(--text-white);
    border: 1px solid white;
    border-radius: 6px;
}

.logo p{
    display: inline;
    font-size: 24px;
    font-weight:900;
    letter-spacing: 0.5;
}

.logo .material-symbols-outlined{
    color: var(--primary);
    font-size: 40px;
    vertical-align: bottom;
    font-variation-settings: 'FILL' 1;
}

.logo p span:last-child{
    color: var(--primary);
}

.container{
    padding: 16px;
}

.header{
    position: sticky;
    top: 0;
    background-color: var(--bg);
    background-image: linear-gradient(to bottom right, var(--bg),hsl(192, 100%, 97%));
    z-index: 5;
}

.header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header .container .navbar-list{
    display: flex;
    flex-direction:row;
    column-gap: 16px;
}

.navbar-link{
    font-weight: 500;
    letter-spacing: 1px;
}

.navbar-link:hover, navbar-link.active{
      color: var(--primary);
       font-weight: 600;
}

/* .active{
    color: var(--primary);
    font-weight: 600;
} */

/*------------------ 
        hero 
 *----------------- */

 /* .hero{
    padding-top: 64px;
 } */

 .hero .container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
 }

 .hero-content storng{
    display: block;
    border-left: 3px solid var(--secondary);
    padding-left: 6px;
    margin-top: 12px;
    margin-bottom: 12px;
 } 

.hero-content storng span{
    color: red;
}

.hero-content button{
    margin-top: 18px;
}

.hero .cards{
    margin-top: 60px;
    display: flex;
    flex-direction: row;
}

.hero .card {
    text-align: center;
    padding: 0px 16px;
}

.hero .card p{
    margin-top: 16px;
}

.hero .card p::after{
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background: var(--primary);
    margin: 8px auto 0px;
    transition: width 0.5s ease 0s;
    border-radius: 6px;
}


.hero .card:hover p::after{
    width: 90%;
}

.hero .card:hover h3,
.hero .card:hover span{
    color: var(--primary);
}

.hero .card .material-symbols-outlined {
    font-size: 38px;
    color: var(--secondary);
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 38;
    transition: color 0.3s ease;
}

.hero .card:hover .material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 500,
    'GRAD' 0,
    'opsz' 38;
}

.highlites{
    position: relative;
}

.highlites .dot {
    position: absolute;
    width: 300px;
    height: 320px;
    border-radius: 50%;
    background-image: radial-gradient(var(--secondary) -100%, var(--bg) 60%);
}

.highlites .dot-left{
    top: -160px;
    left: -159px;
    z-index: -1;
}
.highlites .dot-right{
    top: 160px;
    right: -159px;
    z-index: -1;
}

.about{
    margin-top: 60px;
}

.about .container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 24px;
}

.about .about-banner{
    width: auto;
}

.about .about-content{
    width: 50%;
}

.about .about-content p{
    margin-top: 8px;
}

.check-items{
    margin-top: 16px;
}

.check-items p{
    margin-bottom: -6px;
}

.check-items p:hover{
    color: var(--secondary);
    cursor: pointer;
}

.check-items .material-symbols-outlined{
    vertical-align: text-bottom;
    font-size: 20px;
    color: var(--secondary);
}

.about-content h4::after{
    content: '';
    width:85px;
    height: 2px;
    background: var(--secondary);
    display: block;
    border-radius: 8px;
    margin-top: -1px;
}

/* __________________
---> Services <---
*/
.services{
    margin-block-start: 60px;
    padding-block: 32px;
    background-color: var(--secondary-lite);
}

.services-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 52px;
}

.services-header h4::after{
    content: '';
    width:80px;
    height: 2px;
    background: var(--secondary);
    display: block;
    border-radius: 8px;
    margin-top: -1px;
}

.services-content {
    padding: 40px 32px;
}

.services-grid-items{
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 16px;
    column-gap: 16px;
    padding: 0 32px;
}

.services-grid-item {
    cursor: pointer;
    padding: 12px;
    background-color: var(--text-white);
    border: 0px solid var(--secondary);
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    overflow: hidden;
}

.services-grid-item h5{
    padding-top: 16px;
    color: var(--secondary);
}

.services-grid-item .cycle{
    background-color: var(--secondary);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    left: -38px;
    top: -38px;
    transition: transform 500ms ease 0s;
}

.services-grid-item span{
    font-size: 34px;
    color: var(--text-white);
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 34;
}

.services-grid-item:hover span{
    font-variation-settings:
    'FILL' 1,
    'wght' 500,
    'GRAD' 0,
    'opsz' 34;
    color: var(--text-white);
}
.services-grid-item:hover {
   color: var(--text-white);
}

.services-grid-item:hover .cycle{
   transform: scale(10);
}
.services-grid-item:hover h5{
   color: var(--text-white);
}

.services-grid-item span,
.services-grid-item h5,
.services-grid-item p {
  position: relative;
  z-index: 1; /* above the circle */
}

/*************************
* ---> doctors
**************************/

.doctors{
    /* margin-block-start: 60px; */
    padding-block: 32px;
}

.doctors-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.doctors-header h4::after{
    content: '';
    width:80px;
    height: 2px;
    background: var(--secondary);
    display: block;
    border-radius: 8px;
    margin-top: -1px;
}

.doctors-content{
    margin-top: 32px;
}

.docutor-items{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
}

.docutor-items h5{
    margin-bottom: 6px;
}

.docutor-item{
    padding: 6px;
    border-radius: 6px ;
    padding-bottom: 16px;
}
.docutor-item:hover{
    background-color: var(--secondary);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: var(--text-white);
}

.docutor-item:hover button{
     background-color: var(--text-white);
    color: var(--secondary);
    border: 1px solid white;
    border-radius: 6px;
}

.docutor-item button{
    margin-top: 10px;
}
